<div class="select_players">

  <tabset>

    <!-- QB Selection -->
    <tab class="position-select" heading="QB" select="loadTab()">
      <tags-input on-tag-added="updatePlayers(selected, $tag, qbCategory, 'QB')"  on-tag-removed="updatePlayers(selected, $tag, qbCategory, 'QB')" ng-model="selected.QB" max-tags="5" placeholder="Select players" min-length="2" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
        <auto-complete source="getPosition($query, 'QB')" min-length="0"></auto-complete>
      </tags-input>

      <pre ng-value="qbCategory" id="qbCategory">{{qbCategory || 'Select a category'}}</pre>
      <div class="category-radios">
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Pass Attempts'">Pass Attempts</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Pass Completions'">Pass Completions</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Pass Yards'">Pass Yards</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Completion %'">Completion %</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Average Yards/Pass'">Average Yards/Pass</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Pass TDs'">Pass TDs</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Interceptions'">Interceptions</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'QBR'">QBR</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Passer Rating'">Passer Rating</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Rush Attempts'">Rush Attempts</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Rush Yards'">Rush Yards</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Average Yards/Rush'">Average Yards/Rush</label>
        <label class="btn btn-primary" ng-model="qbCategory" ng-change="updatePlayers(selected, $tag, qbCategory, 'QB')"btn-radio="'Rush TDs'">Rush TDs</label>
      </div>

    </tab>

    <!-- RB Selection -->
    <tab class="position-select" heading="RB" select="loadTab()">

      <!-- RB name autocomplete -->
      <tags-input on-tag-added="updatePlayers(selected, $tag, rbCategory, 'RB')"  on-tag-removed="updatePlayers(selected, $tag, rbCategory, 'RB')" ng-model="selected.RB" max-tags="5" placeholder="Select players" min-length="2" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
        <auto-complete source="getPosition($query, 'RB')" min-length="0"></auto-complete>
      </tags-input>

      <!-- Rb category selection -->
      <pre ng-value="rbCategory" id="rbCategory">{{rbCategory || 'Select a category'}}</pre>
      <div class="category-radios">
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Rush Attempts'">Rush Attempts</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Rush Yards'">Rush Yards</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Average Yards/Rush'">Average Yards/Rush</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Rush TDs'">Rush TDs</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Receptions'">Receptions</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Receiving Yards'">Receiving Yards</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Average Yards/Rec'">Average Yards/Rec</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Receiving TDs'">Receiving TDs</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Fumbles'">Fumbles</label>
        <label class="btn btn-primary" ng-model="rbCategory" ng-change="updatePlayers(selected, $tag, rbCategory, 'RB')" btn-radio="'Fumbles Lost'">Fumbles Lost</label>
      </div>

    </tab>

    <!-- WR Selection -->
    <tab class="position-select" heading="WR" select="loadTab()">

      <!-- WR name autocomplete -->
      <tags-input on-tag-added="updatePlayers(selected, $tag, wrCategory, 'WR')"  on-tag-removed="updatePlayers(selected, $tag, wrCategory, 'WR')" ng-model="selected.WR" max-tags="5" placeholder="Select players" min-length="2" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
        <auto-complete source="getPosition($query, 'WR')" min-length="0"></auto-complete>
      </tags-input>

      <!-- WR category selection -->
      <pre ng-value="wrCategory" id="wrCategory">{{wrCategory || 'Select a category'}}</pre>
      <div class="category-radios">
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Receptions'">Receptions</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Receiving Yards'">Receiving Yards</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Average Yards/Rec'">Average Yards/Rec</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Receiving TDs'">Receiving TDs</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Rush Attempts'">Rush Attempts</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Rush Yards'">Rush Yards</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Average Yards/Rush'">Average Yards/Rush</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Rush TDs'">Rush TDs</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Fumbles'">Fumbles</label>
          <label class="btn btn-primary" ng-model="wrCategory" ng-change="updatePlayers(selected, $tag, wrCategory, 'WR')" btn-radio="'Fumbles Lost'">Fumbles Lost</label>
      </div>

    </tab>

    <!-- TE Selection -->
    <tab class="position-select" heading="TE" select="loadTab()">

      <!-- TE name autocomplete -->
      <tags-input on-tag-added="updatePlayers(selected, $tag, teCategory, 'TE')"  on-tag-removed="updatePlayers(selected, $tag, teCategory, 'TE')" ng-model="selected.TE" max-tags="5" placeholder="Select players" min-length="2" replace-spaces-with-dashes="false" add-from-autocomplete-only="true">
        <auto-complete source="getPosition($query, 'TE')" min-length="0"></auto-complete>
      </tags-input>

      <!-- TE category selection -->
      <pre ng-value="teCategory" id="teCategory">{{teCategory || 'Select a category'}}</pre>
      <div class="category-radios">
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Receptions'">Receptions</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Receiving Yards'">Receiving Yards</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Average Yards/Rec'">Average Yards/Rec</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Receiving TDs'">Receiving TDs</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Rush Attempts'">Rush Attempts</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Rush Yards'">Rush Yards</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Average Yards/Rush'">Average Yards/Rush</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Rush TDs'">Rush TDs</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Fumbles'">Fumbles</label>
        <label class="btn btn-primary" ng-model="teCategory" ng-change="updatePlayers(selected, $tag, teCategory, 'TE')" btn-radio="'Fumbles Lost'">Fumbles Lost</label>
      </div>
    </tab>

  </tabset>
</div>